# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

.DS_Store
Thumbs.db
*.suo
*.pdb
*.cache
*.o
*.lo
*.la
*.al
*.libs
*.so
*.so
*.[0-9]
*.a
*.pyc
*.pyo
*.rej
*.~#
*.#
*.swp
*.dll
*.rej