USE [rapidNote]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 10/20/2012 21:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[idUsuario] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[correo] [varchar](50) NOT NULL,
	[clave] [varchar](500) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[avatar] [image] NOT NULL,
	[idDropbox] [varchar](50) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ADJUNTO]    Script Date: 10/20/2012 21:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADJUNTO](
	[idAdjunto] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[urlArchivo] [varchar](200) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ADJUNTO] PRIMARY KEY CLUSTERED 
(
	[idAdjunto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ETIQUETA]    Script Date: 10/20/2012 21:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ETIQUETA](
	[idEtiqueta] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ETIQUETA] PRIMARY KEY CLUSTERED 
(
	[idEtiqueta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BITACORA]    Script Date: 10/20/2012 21:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BITACORA](
	[idBitacora] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[accion] [varchar](100) NOT NULL,
	[fechaHora] [datetime2](7) NOT NULL,
	[fkidUsuario] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_BITACORA] PRIMARY KEY CLUSTERED 
(
	[idBitacora] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LIBRETA]    Script Date: 10/20/2012 21:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIBRETA](
	[idLibreta] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[nombreLibreta] [varchar](50) NOT NULL,
	[fkidUsuario] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_LIBRETA] PRIMARY KEY CLUSTERED 
(
	[idLibreta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NOTA]    Script Date: 10/20/2012 21:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NOTA](
	[idNota] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[contenido] [text] NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[fechaCreacion] [date] NOT NULL,
	[fechaModificacion] [date] NULL,
	[fkidLibreta] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_NOTA] PRIMARY KEY CLUSTERED 
(
	[idNota] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ETIQUETA_NOTA]    Script Date: 10/20/2012 21:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETIQUETA_NOTA](
	[fkidnota] [numeric](18, 0) NOT NULL,
	[fkidetiqueta] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADJUNTO_NOTA]    Script Date: 10/20/2012 21:38:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADJUNTO_NOTA](
	[fkidAdjunto] [numeric](18, 0) NOT NULL,
	[fkidNota] [numeric](18, 0) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_BITACORA_USUARIO]    Script Date: 10/20/2012 21:38:57 ******/
ALTER TABLE [dbo].[BITACORA]  WITH CHECK ADD  CONSTRAINT [FK_BITACORA_USUARIO] FOREIGN KEY([fkidUsuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[BITACORA] CHECK CONSTRAINT [FK_BITACORA_USUARIO]
GO
/****** Object:  ForeignKey [FK_LIBRETA_USUARIO]    Script Date: 10/20/2012 21:38:57 ******/
ALTER TABLE [dbo].[LIBRETA]  WITH CHECK ADD  CONSTRAINT [FK_LIBRETA_USUARIO] FOREIGN KEY([fkidUsuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[LIBRETA] CHECK CONSTRAINT [FK_LIBRETA_USUARIO]
GO
/****** Object:  ForeignKey [FK_NOTA_LIBRETA]    Script Date: 10/20/2012 21:38:57 ******/
ALTER TABLE [dbo].[NOTA]  WITH CHECK ADD  CONSTRAINT [FK_NOTA_LIBRETA] FOREIGN KEY([fkidLibreta])
REFERENCES [dbo].[LIBRETA] ([idLibreta])
GO
ALTER TABLE [dbo].[NOTA] CHECK CONSTRAINT [FK_NOTA_LIBRETA]
GO
/****** Object:  ForeignKey [FK_ETIQUETA_NOTA_ETIQUETA]    Script Date: 10/20/2012 21:38:57 ******/
ALTER TABLE [dbo].[ETIQUETA_NOTA]  WITH CHECK ADD  CONSTRAINT [FK_ETIQUETA_NOTA_ETIQUETA] FOREIGN KEY([fkidetiqueta])
REFERENCES [dbo].[ETIQUETA] ([idEtiqueta])
GO
ALTER TABLE [dbo].[ETIQUETA_NOTA] CHECK CONSTRAINT [FK_ETIQUETA_NOTA_ETIQUETA]
GO
/****** Object:  ForeignKey [FK_ETIQUETA_NOTA_NOTA]    Script Date: 10/20/2012 21:38:57 ******/
ALTER TABLE [dbo].[ETIQUETA_NOTA]  WITH CHECK ADD  CONSTRAINT [FK_ETIQUETA_NOTA_NOTA] FOREIGN KEY([fkidnota])
REFERENCES [dbo].[NOTA] ([idNota])
GO
ALTER TABLE [dbo].[ETIQUETA_NOTA] CHECK CONSTRAINT [FK_ETIQUETA_NOTA_NOTA]
GO
/****** Object:  ForeignKey [FK_ADJUNTO_NOTA_ADJUNTO]    Script Date: 10/20/2012 21:38:57 ******/
ALTER TABLE [dbo].[ADJUNTO_NOTA]  WITH CHECK ADD  CONSTRAINT [FK_ADJUNTO_NOTA_ADJUNTO] FOREIGN KEY([fkidAdjunto])
REFERENCES [dbo].[ADJUNTO] ([idAdjunto])
GO
ALTER TABLE [dbo].[ADJUNTO_NOTA] CHECK CONSTRAINT [FK_ADJUNTO_NOTA_ADJUNTO]
GO
/****** Object:  ForeignKey [FK_ADJUNTO_NOTA_NOTA]    Script Date: 10/20/2012 21:38:57 ******/
ALTER TABLE [dbo].[ADJUNTO_NOTA]  WITH CHECK ADD  CONSTRAINT [FK_ADJUNTO_NOTA_NOTA] FOREIGN KEY([fkidNota])
REFERENCES [dbo].[NOTA] ([idNota])
GO
ALTER TABLE [dbo].[ADJUNTO_NOTA] CHECK CONSTRAINT [FK_ADJUNTO_NOTA_NOTA]
GO
